POSTGRES_DB=finance_tracker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root123
POSTGRES_PORT=5432
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/finance_tracker
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=root123
APP_JWT_SECRET=change_this_to_a_long_secret_change_this_12345
APP_JWT_ACCESS_EXPIRATION=900000
APP_JWT_REFRESH_EXPIRATION=604800000
BACKEND_PORT=8080
FRONTEND_PORT=5173
VITE_API_BASE_URL=http://localhost:8080/api
